/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #1f1f1f;
}


html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

h1:hover, h2:hover , h3:hover, p:hover {
  cursor: default;
}


/* Background animation */

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg, #6c3 50%, #09f 50%
   );
  bottom:0;
  left:-50%;
  opacity:.5;
  position:absolute;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}


/* Header */

.socials {
  margin: auto;
  width: 90%;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.socials i {
  transition: 0.2s;
  margin: 0 20px;
}

.logo {
  margin: 10px 0;
}

@media all and (max-width: 480px) {
  .socials {
    justify-content: center;
  }

  .nav-list {
    display: none;
  }

  .nav-list li {
    display: block;
    padding: 20px 10px;
  }

  .menu {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
  }

  .active {
    display: block;
  }

}




/* Big splash section */

section {
  position: relative;
}

.front-page {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.front-page h1, .front-page h3, .front-page p, .front-page i, .front-page a {
  color: white;
}

.main-section {
  width: 70%;
  margin: auto;
}

.front-page .main-section {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

.splash {
  margin-top: 8vw;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  
}

.splash h1 {
  font-size: 8vw;
  line-height: 80%;
}

.splash h3 {
  font-size: 3vw;
  margin-left: 20px;
}

.react-info-text {
  margin-top: 10vh;
}

.react-info-text p {
  font-size: 18px;
}

.scroll-link {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 8vh;
  text-align: center;
}

.scroll-link a {
  font-size: 20px;
}




/* splash floating animation */

@keyframes floating {
  0% { transform: translate(0, 0px);}
  50% { transform: translate(0, -10px);}
  100% { transform: translate(0, 0px);}
}




/* Responsive splash screen */

@media all and (max-width: 480px) {
  .splash {
    display: block;
    text-align: center;
  }
  
  .splash h1 {
    font-size: 10vw;
  }
  .splash h3 {
    font-size: 7vw;
    margin: 2vw 0;
  }

  .react-info-text {
    text-align: center;
  }
}




/* About section */

.about-section {
  padding: 5vh 0;
}

.about-me {
  display: flex;
  justify-content: space-evenly;
}

.text-section {
  margin-right: 50px;
}

.text-section p {
  margin-bottom: 20px;
}

.profile-img {
  margin-left: 50px;

}

.profile-img img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: 0 20%;
  border-radius: 50%;
}



/* experience cards section */

.experience-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.experience-card {
  height: 300px;
  width: 300px;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience-card > * {
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  height: 300px;
  width: 300px;
}

.experience-card-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: 0.1s;
}

.experience-card-content-text {
  margin: 20px;
}

.experience-card-cover:hover {
  opacity:0; 
  filter:alpha(opacity=0);
}

.experience-card-cover.cover-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.experience-card-img {
  margin-bottom: 20px;
}

.experience-card-img img {
  height: 100px;
}

.experience-card-content-title {
  margin-bottom: 10px;
}

.experience-card-text > * {
  color: #1f1f1f;
  margin-bottom: 10px;
  transition: 0.3s;
}

.experience-card-content-text > p {
  font-size: 18px;
}

.experience-card-content-text ul {
  margin-top: 20px;
  list-style-position: inside;
}

.experience-card-content-text li p {
  display: inline;
}



/* scroll link at bottom */

.spacer {
  position: relative;
  margin-top: 15vh;;
}



/* responsive elements for About Me page */

@media all and (max-width: 850px) {
  .about-me {
    display: block;
  }

  .about-me > * {
    text-align: center;
    margin-right: 0;
  }

  .socials a i {
    margin: 20px;
  }

  .profile-img {
    display: none;
  }

  .experience > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .experience-card-section {
    flex-direction: column;
  }

  .experience-card {

  }

  .experience-card-cover {
    margin: auto;
    margin-bottom: 20px;
  }

  .experience-card-cover > * {
    margin: auto;
  }

  .experience-card-front {
    left: 35px;
  }

  
}




/* projects page */

.projects {
  height: 100vh;
  padding-top: 50px;
}

.project-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-card {
  height: 325px;
  width: 325px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.project-card-image-holder {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: 0.5s;
}

.project-card-image-holder:hover {
  transform: scale(1.2);
}


.project-card-title {
  visibility: hidden;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
